extends _layout
block page_title
  title SVG Training
block style
  link(rel="stylesheet", href="css/index.min.css")
block script
  script(type="text/javascript" src="js/index.min.js")
block content
  section.svg
    .scale-container
      svg#svgwrap
    //- svg()
    //-   rect#A(x='33', y='34', fill='#FF6CC4', stroke='#C30D23', stroke-width='3', width='75', height='75')



